.content {
    display: flex;
    justify-content: center;
    gap: 1.1875rem;
}

h1 {
    font-size: 1.25rem;
}

.featured {
    max-height: 20.4375rem;

    display: flex;
    gap: 1.375rem;
}

.featured .title {
    font-size: 1.25rem;

    font-weight: 700;
}

.featured .details, .featured .preview  {
    font-size: 0.875rem;
}

.featured .preview {
    margin: 0.5625rem 0;
    flex-grow: 1;
    white-space: pre-line;

    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;

    z-index: 0;
}

.fade {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    width: inherit;
    height: 10px;

    z-index: -1;
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%, rgb(255, 255, 255) 100%);
}

.featured img {
    height: 15.625rem;
    width: 15.625rem;
}

.featured .text {
    max-height: 15.625rem;

    display: flex;
    flex-direction: column;
}

.call_to_action {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.call_to_action button {
    width: 100%;
}

/* .call_to_action p {
    font-size: 0.875rem;
} */

.post {
    display: flex;
    gap: 0.625rem;
    padding: 1.125rem;
}

.post .user-icon {
    height: 2.6875rem;
    width: 2.6875rem;
}

input[type=text] {
    flex-grow: 1;
}

.blog:hover{
    /* background: linear-gradient(180deg, #ffffff 0%, #d9eee6 52.6%, #ffffff 100%); */
    background: var(--cpalette-10-d);

    /* color: white; */
}

.blog button {
    height: 1.5625rem;
    padding: 0.25rem 0.625rem;

    border-radius: 1.5625rem;

    text-transform: lowercase;
    font-size: 0.875rem;
    font-weight: 300;
}

.box-header {
    height: 4.625rem;

    display: flex;
    
}

.box-tags {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    gap: 0.25rem;
}

.box-info {
    height: 100%;
    flex-grow: 1;
    width: 10px;

    display: flex;
    flex-direction: column;
}

.blog .title {
    font-size: 1.25rem;
    font-weight: 700;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.blog .details {
    font-size: 0.75rem;
}

.blog .preview {
    display: block;

    max-height: calc(3 * 0.875rem);
    line-height: 0.875rem;
    
    margin: 0.75rem 0;
    
    font-size: 0.875rem;
    white-space: pre-line;

    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
}

.blog .image {
    height: 4.625rem;
    width: 4.625rem;
}