/* NAVBAR */
/* Defaults */
.navx p {
    color: var(--cpalette-30);
}

.username, .postcount, .btn-menudown, .logo {
    cursor: pointer;
}

.username, .postcount {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.navx {
    height: 4.5rem;
    width: 100%;

    display: flex;
    background-color: black;
}

.container-left {
    display: flex;
    align-items: center;
    flex-grow: 1;

    padding-left: 1em;

    gap: 1em;
}

.logo {
    width: fit-content;

    font-weight: 900;
    font-size: 1.75em;
    text-align: center;
}

.container-right {
    width: 14rem;

    display: flex;
    align-items: center;
}

.container-user {
    width: 10px;
    flex-grow: 1;

    margin-left: 1rem;
    /* padding: 0 0 0 1em; */
}

.username {
    font-size: 0.875rem;
}

.postcount {
    font-size: 0.75em;
    font-weight: 100;
    font-style: italic;
}

.btn-menudown {
    height: 100%;
    width: 1.75rem;

    /* padding-right: 1em; */

    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-menudown {
    height: 0.5625rem;
    width: 1.0625rem;
}

.button {
    all: unset;
    cursor: pointer;

    font-size: 1.125rem;
    color: var(--cpalette-30);
    background: none;
}

.button:hover, .button:active {
    background: none;
    font-weight: 900;
}

.button:active {
    color: var(--cpalette-10-l);
}

.active {
    font-weight: 900;
    color: var(--cpalette-10-l);
}

.control {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

/* RESPONSIVENESS */

.hidden {
    display: none;
}

/* update test */